#tabbrowser-tabs {
    visibility: collapse;
}
#navigator-toolbox {
    display: flex;
    flex-flow: row wrap;
}
#titlebar {
    order: 1;
    max-width: 140px;
    margin-left: -80px;
}
#titlebar #TabsToolbar .titlebar-spacer {
    background-color: rgba(0,0,0,0.05);
    margin: 20px;
    border-radius: 25%;
    cursor: grab;
}
#titlebar #TabsToolbar .titlebar-spacer[type="pre-tabs"] {
    display: none;

}
#nav-bar {
    order: 0;
    width: calc(100% - 180px);
    margin-top: 8px;
}
#PersonalToolbar {
    order: 2;
}
#window-controls  { 
    background-color: #323234;
}